Options -MultiViews
DirectoryIndex index.php

RewriteEngine On
RewriteBase /api/

# Biarkan header Authorization tetap diteruskan
SetEnvIf Authorization ".+" HTTP_AUTHORIZATION=$0

# Jika file atau folder ada, jangan rewrite
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Semua request lain arahkan ke index.php (router)
RewriteRule ^ index.php [QSA,L]
